<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>

    <%- include('partials/header') %>

    <!-- ==================== MAIN ==================== -->
    <main class="main">
        
        <%- include('partials/home/home_section') %>

        <%- include('partials/home/program') %>

        <%- include('partials/home/exercises') %>
        
    </main>

    <%- include('partials/footer') %>

    <%- include('partials/scripts') %>

</body>

</html>
