<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>

    <%- include('partials/header') %>

    <!-- ==================== MAIN ==================== -->
    <main class="main">
        
        <%- include('partials/home_sections', { homeSubtitle: 'Nutrition Plans', homeDescription: 'Explore personalized nutrition plans with tailored breakfast, lunch, and dinner options.' }) %>

        <%- include('partials/home/program') %>

        <%- include('partials/home/exercises') %>
        
    </main>

    <%- include('partials/footer') %>

    <%- include('partials/scripts') %>

</body>

</html>
