<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>

    <%- include('partials/header') %>

    <!-- ==================== MAIN ==================== -->
    <main class="main">
        
        <%- include('partials/home_sections', { homeSubtitle: 'Sign Up', homeDescription: 'Create your account to get started!' }) %>

        <%- include('partials/sign-up/sign-up') %>
        
    </main>

    <%- include('partials/footer') %>

    <%- include('partials/scripts') %>

</body>

</html>
